.button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.button--solid {
  background-color: var(--accent-color);
  color: #fff;
}

.button--outline {
  border-color: var(--accent-color);
}

.button--round {
  border-radius: 50%;
}

.button--icon {
  padding: 3px;

  img {
    display: block;
    width: 15px;
    height: 15px;
  }
}
