.error-container {
  position: fixed;
  inset: 0;
  background-color: #000d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: var(--error-color);
  padding: 20px;
  color: #fff;
}
