:root {
  --accent-color: #211f1f;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

button {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

a {
  color: inherit;
}
