:root {
  --accent-color: #211f1f;
  --error-color: #ab102f;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

a {
  color: inherit;
}
