.container {
  padding: 0 30px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header__actions {
  display: flex;
  gap: 10px;
}

.main-content {
  padding-bottom: 20px;
}
