.main-header {
  height: 3rem;
  color: #fff;
  background-color: var(--accent-color);

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  a {
    text-decoration: none;
  }
}

.main-header__app-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-header__logo {
  height: 30px;
}

.main-header__title {
  font-size: 2rem;
}
