.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__control {
  border: 1px solid var(--accent-color);
  padding: 5px 10px;
}
